/*********************************************/
/*******************GLOBAL********************/
html {
  background: #ececec;
}
body {
  background: #ececec url('../images/super_body_bg.jpg') no-repeat;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #fff;
  font-size: 77%;
}
#wrapper {
  background: #fff;
  position: relative;
  min-height: 1000px;
  text-align: left;
/*  border-left: 1px solid #8e0000;
  border-right: 1px solid #8e0000;*/
}
a {
  color: #000;
}
.hide_text {
  text-indent: -1000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1 {
  font-size: 235%;
  color: #000;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 130.9%;
}
.header {
  background: #000;
}
.header h2 {
  padding: 5px;
  color: #8e0000;
}
h3 {
  font-size: 118.5%;
}
h4 {
  font-size: 108%;
}
h5 {
  
}

p {
  margin: 5px 0px 0px;
}
/*img {
  margin: 0px 10px 10px 10px;
}*/
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.medium_text {
  font-size: 110.5%
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 15px;
}
.space_right {
  margin-right: 20px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.top_space {
  margin-top: 10px;
}
.important {
  color: red;
}
.green {
  color: #00ff15;
}
.dk_green {
  color: #029C00;
}
.purple {
  color: #24002E;
}
.lt_purple {
  color: #8C00A8;
}
.white {
  color: #ffffff;
}
.bgwhite {
  background: #ffffff;
}
.dark_grey {
  background: #1c1c1c;
}
.center {
  text-align: center;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/***Firefox dotted line tweak***/
a {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
a:active {
  outline: none;
}
/*********************************************/
/*******************HEADER********************/
#hd {
  background: #000 url('../images/super_header_bg2.jpg') no-repeat;
  position: relative;
  width: 960px;
  height: 250px;
}
/*********************************************/
/*******************NAVIGATION****************/
#user_nav {
  position: relative;
  float: right;
  top: 0px;
  height: 20px;
  color: #fff;
  padding: 10px;
}
#user_nav a {
  padding: 10px;
  text-decoration: none;
}
ul#main_nav {
  background: url('../images/super_nav_bg.jpg') no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
ul#main_nav li {
  float: left;
  height: 40px;
  text-align: center;
  width: 100px;
}
ul#main_nav li a {
  display: block;
  float: left;
  width: 100px;
  padding: 12px 0px;
  height: 20px;
  color: #fff;
}

/*********************************************/
/*******************MAIN CONTENT**************/
#bd {
  width: 960px;
  margin: 0px;
  position: relative;
  min-height: 850px;
}
#main_content {
  position: relative;
  width: 660px;
  margin: 0px;
}
.form_wrap {
  margin-left: 50px;
}
/*****************************************/
/*******************SIDEBAR**************/
#sidebar {
  position: relative;
  background: #222;
  width: 299px;
  margin: 0px;
  min-height: 900px;
  border-left: 1px solid #8e0000;
}
/*****************************************/
/*******************SIDEBAR**************/
#ft {
  width: 960px;
  min-height: 100px;
  background: #000;
  border-top: 1px solid #8e0000;
}
/*********************************************/
/******************* FORMS *******************/
input {
  background: #fff;
  padding: 2px;
}
/*********************************************/
/*******************BUTTONS*******************/
.btn {
  background: #000 url('../images/healthcare_fraud_btn_white.png') bottom left repeat-x;
  padding: 5px; 
  color: #fff;
  border: 1px solid #333; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  min-height: 18px;
  float: left;
}
.btn:hover {
  background: #efefef;
  color: #000;
  border: 1px solid #000; 
}