/*********************************************/
/*******************GLOBAL********************/
html {
  background: #ececec;
}
body {
  background: #ececec url('../images/super_body_bg.jpg') no-repeat;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #fff;
  font-size: 77%;
}
#wrapper {
  background: #fff;
  position: relative;
  min-height: 1000px;
  text-align: left;
/*  border-left: 1px solid #8e0000;
  border-right: 1px solid #8e0000;*/
}
a {
  color: #0000ff;
}
.hide_text {
  text-indent: -1000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1 {
  font-size: 235%;
  color: #000;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 135%;
}
.header {
  background: #000 url('../images/super_main_header.jpg') no-repeat;
}
.header_side {
  background: #d19b1d url('../images/super_side_header.jpg') no-repeat;
}
.header h2 {
  padding: 7px;
  color: #efefef;
  position: relative;
  width: 450px;
}
.header_side h2 {
  padding: 7px;
  color: #000;
}
h3 {
  font-size: 140.5%;
}
h4 {
  font-size: 120%;
}
h5 {
  
}

p {
  margin: 5px;
}
.bold {
  font-weight: bold;
}
/*img {
  margin: 0px 10px 10px 10px;
}*/
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.mc_bg {
  background: #efefef url('../images/super_main_content_bg.jpg') repeat-y;
  border: 1px solid #ccc;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.medium_text {
  font-size: 110.5%
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 15px;
}
.space_right {
  margin-right: 20px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.top_space {
  margin-top: 10px;
}
.important {
  color: red;
}
.green {
  color: #00ff15;
}
.dk_green {
  color: #029C00;
}
.purple {
  color: #24002E;
}
.lt_purple {
  color: #8C00A8;
}
.white {
  color: #ffffff;
}
.bgwhite {
  background: #ffffff;
}
.dark_grey {
  background: #1c1c1c;
}
.rust {
  color: #8e0000;
}
.center {
  text-align: center;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
.lyric {
  color: #666;
  font-style: italic;
  text-align: center;
}
/***Firefox dotted line tweak***/
a {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
a:active {
  outline: none;
}
/******************************************/
/*******************ERRORS*****************/
#flash {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 42%;
  padding: 20px;
  width: 250px;
  background: #db0404;
  font-size: 175%;
  z-index: 100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: absolute;
  top: -180px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:35px;
  margin-top:3px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*******************HEADER********************/
#hd {
  background: #000 url('../images/super_header_bg2.jpg') no-repeat;
  position: relative;
  width: 960px;
  height: 250px;
}
/*********************************************/
/*******************NAVIGATION****************/
#user_nav {
  position: relative;
  float: right;
  top: 0px;
  height: 20px;
  color: #fff;
  padding: 10px;
}
#user_nav a {
  padding: 10px;
  text-decoration: none;
}
ul#main_nav {
  background: url('../images/super_nav_bg.jpg') no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 960px;
  height: 40px;
}
ul#main_nav li {
  float: left;
  height: 40px;
  text-align: center;
}
ul#main_nav li a {
  display: block;
  float: left;
  padding: 10px 15px;
  height: 20px;
  color: #fff;
}
/**admin nav**/
#admin_login_nav {
  width: 35px;
  float: right;
  margin:20px;
}
#admin_login_nav li a {
  color: #fff;
}
#ft_boiler_plate {
  width: 350px;
}
#ft a {
  color: #fff;
}
#ft a:hover {
  color: #8e0000;
}
/*********************************************/
/*******************MAIN CONTENT**************/
#bd {
  background: #fff;
/*  background: #8e0000;*/
  width: 960px;
  margin: 0px;
  position: relative;
  min-height: 850px;
  font-size: 12px;
}
#main_content {
  background: #fff;
  position: relative;
  width: 660px;
  margin: 0px;
  color: #000;
  min-height: 700px;
}
#you_tube_wrap {
  position: relative;
  float: left;
  width: 660px;
  height: 366px;
  overflow: hidden;
}
.form_wrap {
  margin-left: 50px;
}
.author_text {
  font-size: 80%;
  color: #b78c09;
}
.image_wrap, .image_wrap2 {
  margin: 5px;
  padding: 3px;
  border: 1px solid #8e0000;
}
.image_wrap2 {
  margin: 5px 0px;
}
.index_image {
  width: 40px;
  margin: 0px 10px 0px 0px;
}
.fan_index_wrap {
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
}
.status_wrap {
  margin: 10px 0px;
  height: 20px;
}
.index_show {
  background: #000;
  padding: 10px;
  color: #fff;
}
.photo_wrap {
  padding: 3px;
  border: 1px solid #8e0000;
  float: left;
}
.thumb_wrap, .fan_thumb_wrap {
  margin: 10px;
  width: 100px;
  float: left;
}
.fan_thumb_wrap {
  width: 50px;
}
.thumbnail, .fan_thumbnail {
  width: 100px;
  height: 60px;
  overflow: hidden;
}
.fan_thumbnail {
  width: 50px;
  height: 50px;
}
.photo_caption {
  float: left;
  margin-top: 5px;
}
.photo_content_wrap {
  float: left;
  margin-left: 10px;
}
.fan_photo_album_list_wrap {
 height: 50px;
 float: left;
}
.video_wrap {
  background: #000;
  padding: 10px;
  position: relative;
  width: 660px;
  text-align: center;
}
.twitter_wrap {
  width: 280px;
  overflow: hidden;
}
.fan_login, .fan_logout {
  position: relative;
  width: 300px;
  background: transparent url('../images/login_logout.png') 0px -350px no-repeat;
  height: 70px;
  float: left;
}
.fan_logout {
  text-align: center;
  background: transparent url('../images/login_logout.png') 0px -140px no-repeat;
}
.fan_logout a {
  margin: 0 auto;
  display: block;
  padding: 20px;
  width: 150px;
  height: 30px;
  text-align: center;
  text-indent: -3000em;
}
.fan_logout a:hover {
    background: transparent url('../images/login_logout.png') -55px -70px no-repeat;
}
.fan_login a {
  display: block;
  float: left;
  padding: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
  font-weight: bold;
  text-indent: -3000em;
}
.fan_login a.login_link:hover {
  background: url('../images/login_logout.png') 0px -280px no-repeat;
}
.fan_login a.register_link:hover {
  background: url('../images/login_logout.png') -145px -210px no-repeat;
}
/*****************************************/
/*******************SIDEBAR**************/
#sidebar {
  position: relative;
  background: #8e0000 url('../images/super_sidebar_bg.jpg') repeat-y;
  width: 300px;
  margin: 0px;
  min-height: 1200px;
}
.sidebar_show_listing {
  background: #fff;
  padding: 5px;
  color: #000;
}
.sidebar_show_listing h3, .index_show h3 {
  color: #8e0000;
}
/*****************************************/
/*******************FOOTER**************/
#ft {
  width: 960px;
  height: 100px;
  min-height: 100px;
  background: #000 url('../images/super_footer.jpg') no-repeat ;
  border-top: 1px solid #8e0000;
}
#ft, #ft a {
  color: #efefef;
}
/*********************************************/
/******************* FORMS *******************/
input {
  background: #fff;
  padding: 2px;
}
input.short_input {
  width: 20px;
}
/*********************************************/
/*******************BUTTONS*******************/
.btn {
  background: transparent url('../images/healthcare_fraud_btn_white.png') bottom left repeat-x;
  padding: 5px; 
  color: #000;
  border: 1px solid #333; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  min-height: 18px;
  float: left;
}
.btn:hover {
  background: #efefef;
  color: #000;
  border: 1px solid #000; 
}
.rss_link {
  width: 28px;
  height: 28px;
  display: block;
  text-indent: -3000em;
  background: transparent url('../images/feed.png') no-repeat;
  margin: 3px
}
/********************************************/
/**************Twitter**********************/
#twitter_feed {
  color: #085258;
  background: #fff;
}
#twitter_feed .tweet_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8ADEE2; 
}
#twitter_feed .tweet_list li {
  overflow: auto;
  padding: .5em; 
}
#twitter_feed .tweet_list li a {
    color: #0C717A; }
#twitter_feed .tweet_list .tweet_even {
  background-color: #000; }
#twitter_feed .tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}
#twitter_feed .tweet_list .tweet_avatar img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.twitted {
	width: 100%;
	margin-bottom: 1.5em;
	border: 1px solid #888;
}

.twitted h2 {
	margin: 0;
	padding: 0.3em 0.8em;
	font-size: 1em;
	color: #fff;
	background-color: #888;
}

.twitted p.preLoader {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url("loader.gif") 1em center no-repeat;
	/* generate your own loader gif: http://www.ajaxload.info */
}

.twitted ul#twitter_update_list {
	margin: 0;
	padding: 0 0.8em;
	list-style-type: none;
}

.twitted ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;
}

.twitted ul#twitter_update_list li span {
	/* tweet content */
	display: block;
}

.twitted ul#twitter_update_list li span a {
	/* links in tweet content */
	color: #00f;
}

.twitted ul#twitter_update_list li a {
	/* timestamp link */
	color: #f00;
}

.twitted ul#twitter_update_list li.firstTweet {
}

.twitted ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

.twitted p.profileLink {
	display: block;
	margin: 0;
	padding: 0.3em 1em;
	color: #fff;
	background-color: #ddd;
}
