<div class="header">
  <h2>Supersofar Links</h2>
  <% if current_admin %>
  <%= link_to 'New Link', new_link_path, :class => "right full_wrap" %>
  <% end %>
</div>
<div class="grid_11 mc_bg">
<% @link_types.each do |link_type|%>
  <% link_type.links.each do |link| %>
    <%= render :partial => "links/link", :locals => {:link => link}%>
  <% end %>
<% end %>
</div>