<div class="full_wrap left">
  <div class="photo_wrap">
    <%= link_to image_tag(fan_photo.fan_photo.url(:small), :alt => fan_photo.title, :title => fan_photo.title), fan_photo_path(fan_photo) %>
    <p class="small_text">
     Caption: <%= h fan_photo.title %>
    </p>
  </div>
</div>