<div class="thumb_wrap left">
  <div class="photo_wrap">
    <div class="thumbnail">
    <%= link_to image_tag(photo.photo.url(:small), :alt => photo.title, :title => photo.title, :width => 100), photo_path(photo) %>
    </div>
  </div>
  <p class="photo_caption small_text">
   <%= h photo.title %>
  </p>
</div>