<div class="full_wrap">
  <h2><%= post.title %></h2>
  <span class="author_text">
    <%= post.author_credentials %>
  </span><br/>
  <div class="description">
    <%= post.description %>
  </div>
</div>