<div class="header">
  <%= link_to "RSS Feed", posts_url(:rss), :class => 'right rss_link' %>
  <h2>Supersofar Blog</h2>
</div>
<% @posts.each do |post| %>
<%= render :partial => "posts/post", :locals => {:post => post}%>
<% end %>
<% if current_admin %>
<%= link_to 'New Post', new_post_path, :class => "full_wrap" %>
<% end %>