<div class="header">
  <h2>Upcoming Shows</h2>
</div>
<div class="full_wrap">
  <% @shows.each do |show| %>
  <div class="full_wrap round2 index_show">
    <%= render :partial => "shows/show", :locals => {:show => show} %>
  </div>
  <% end %>
  <% if current_admin %>
  <%= link_to 'New', new_show_path %>
  <% end %>
</div>