<div class="header_side">
  <h2>Supersofar Tweets <%= link_to "Follow Us", "http://twitter.com/Supersofar" %></h2>
</div>
<div class="twitter_wrap full_wrap round2">
  <div id="twitter_feed" class="round2">
    </div>
</div>
