<div class="header_side">
  <h2>Supersofar on Twitter</h2>
</div>
<div class="twitter_wrap full_wrap round2">
  <div id="twitter_feed" style="word-wrap: break-word; padding: 5px; background-color: #FFFFFF;">
    </div>
</div>
