<script type='text/javascript'>
	var flashvars = {}
	var params = {
	      menu: 'false',
	      allowfullscreen: 'true',
	      wmode: 'transparent',
	      bgcolor: 'transparent'
	};
	var attributes = {
	  id: 'video_home'
	};
	swfobject.embedSWF('http://www.youtube.com/cp/vjVQa1PpcFPpRo3KDEn5zZGhHWDGrhOsDzd9TVxWxnA=', 'home_video', '660', '425', '9.0.0', 'http://www.youtube.com/cp/vjVQa1PpcFPpRo3KDEn5zZGhHWDGrhOsDzd9TVxWxnA=', flashvars, params, attributes);
</script>
<div id="home_video" class="video_wrap">
</div>