<title><%= h(yield(:title) || "Welcome") %> | Supersofar.com Official Site</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="Salt Lake Citys Top Pop Rock Band.">
<meta name="keywords" content="Salt Lake City, Best unsigned bands, best unsigned band, unsigned talent, top indie bands, top indepentent artist, top independent bands, top indie rock, best indie band, best indie bands, top rock acts, top 10 bands, best band in america">
<meta name="copyright" content="Copyright 2009 Supersofar">
<meta name="title" CONTENT="Supersofar. The Top Unsigned Band in America">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />
<%= auto_discovery_link_tag(type = :atom, shows_url(:atom)) %>
<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', '960', 'application' %>
<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="stylesheets/IE6.css" />
<![endif]-->

<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE6.css" />
<![endif]-->

<%#= ******** JAVASCRIPTS ********** %>
<%= javascript_include_tag 'jquery', 'jquery.tweet', 'reflection', 'swfobject', 'application' %>